/* Does the same stuff as the viewport meta tag */
@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

/* So that media scales with the viewport size */
/* img, video, canvas { */
/*     max-width: 100%; */
/* } */

@media all and (max-width: 700px) {
    /* Removing explicit and calculated static widths */
    body,
    header .wrapper,
    footer .wrapper {
        min-width: 0;
        width: 100%;

    }
    .wrapper-bg-extend > * {
        padding-left: 4%;
        padding-right: 4%;
    }

    /* .wrapper { */
    header, footer {
        width: 100%;
        padding-left: 4%;
    }
    footer {
        padding-right: 4%;
    }

    /* Things that we hide on mobile */
    .highlights h4,
    #feature-demo,
    #feature-arrow
    {
        display: none;
    }

    /* Changing things to single column. */
    .column-box {
        float: none;
        width: 100%;
        text-align: center;
    }
    .column-box~.column-box {
        padding: 0;
    }
    .column-box + .clearfix {
        display: none;
    }
    .multicolumn {
        column-count: 1;
        -moz-column-count: 1;
        -webkit-column-count: 1;
    }

    /* But a few things should actually still remain multi-column */
    #git-mit-images > .column-box {
        float: left;
        width: 50%;
        /* padding: 0 5% 0 0; */
    }
    #git-mit-images > .column-box ~ .column-box {
        /* padding: 0 0 0 5%; */
    }
    #git-mit-images > .column-box + .clearfix {
        display: block;
    }


    /* Header navigation */
    header,
    #siteHeader{
        position: relative;
        height: 19vw;

        transition: height 0.5s ease-in-out 0;
	    -webkit-transition: height 0.5s ease-in-out 0;
	    -moz-transition: height 0.5s ease-in-out 0;
	    -ms-transition: height 0.5s ease-in-out 0;
	    -o-transition: height 0.5s ease-in-out 0;
    }
    #logo {
        height: 8.4vw;
        width: 30vw;
        margin: 15% 0;
    }
    #mainNav {
        line-height: 100%;
        height: 100%;
        float: none;
    }
    #mainNav a:after {
        margin: 0 auto 0 auto;
    }
    #full-nav {
        position: absolute;
        bottom: 0;
        /* bottom: 20%; */
        /* bottom: 3em; */
        /* a specific percentage because it was too difficult to center an
         * absolutely positioned element where we did not know the width of
         * the element */
        left: 8%;
        width: 80%;
        line-height: 1.5em;
        visibility: hidden;
        opacity: 0;

        transition: opacity 0.35s ease-in-out 0, bottom 0.5s ease-in-out 0;
	    -webkit-transition: opacity 0.35s ease-in-out 0, bottom 0.5s ease-in-out 0;
	    -moz-transition: opacity 0.35s ease-in-out 0, bottom 0.5s ease-in-out 0;
	    -ms-transition: opacity 0.35s ease-in-out 0, bottom 0.5s ease-in-out 0;
	    -o-transition: opacity 0.35s ease-in-out 0, bottom 0.5s ease-in-out 0;
    }
    #mainNav > ul {
    }
    #mainNav #api-nav {
        display: none;
    }
    #mainNav > #mobile-nav {
        display: inline-block;
        /* position: static; */
        float: right;
        font-family: 'Varela Round', sans-serif;
        /* font-size: 2.5em; */
        font-size: 6vw;
        margin-top: 0;
    }
    #mainNav > #mobile-nav a:after {
        display: none;
    }
    #mobile-nav > li {
        height: 19vw;
        padding: 1.4em 6vw 0 6vw;
        margin-left: 0;
        border-left: 3px solid rgb(193,190,181);

        transition: height 0.5s ease-in-out 0;
	    -webkit-transition: height 0.5s ease-in-out 0;
	    -moz-transition: height 0.5s ease-in-out 0;
	    -ms-transition: height 0.5s ease-in-out 0;
	    -o-transition: height 0.5s ease-in-out 0;
    }
    #mobile-nav > li:hover {
        color: #ea4b35;
    }
}
