
/*  BASE STYLES
		========================================  */
/*  Remove margin & padding on all elements
 *  Fix box model  */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #3f4446;
}
.wrapper {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clearfix {
	clear: both;
}
.hidden {
	display: none;
}
/*  BASIC TYPOGRAPHY
		========================================  */
h1, h2, h3, h4 { 
	font-family: 'Varela Round', sans-serif;
	font-weight: normal;
	color: #8a7c7a;
}
h1 {
	font-size: 38px;
	line-height: 48px;
    margin-bottom: 1em;
}
h2 {
	font-size: 28px;
	letter-spacing: .05em;
	margin-bottom: .8em;
}
h3 {
	font-size: 24px;
	margin: 1.618em 0 .8em;
}
h4 {
	font-size: 18px;
	margin: 1.618em 0 1em;
}
p {
	margin-bottom: 1em;
	line-height: 23px;
	letter-spacing: .02em;
}
p.intro {
	font-family: 'Varela Round', sans-serif;
	letter-spacing: .02em;
	margin-bottom: 0;
	font-size: 1.2em;
	line-height: 1.4em;
	color: #3f4446;
}

/*  CODE
		========================================  */
/*  Type & color for all code  */
code, pre {
	font-family: 'Consolas', 'Courier New', 'Courier', monospace;
	color: #212526;
}

/*  Inline code gets a box around it
		but not code in a table or headline  */
p code, li code {
	font-size: .9em;
	padding: 4px 6px 2px;
	background-color: #f3f2ee;
	border: 1px solid #a9a8a6;
	border-radius: 3px;
}

/*  Extra spacing for paragraph code  */
p code {
	margin: 0 .1618em;
}

/*  Styles for code blocks only  */
pre {
	margin: 1em 0;
	padding: 1em;
	font-size: .75em;
	background-color: #f3f2ee;
	border: 1px solid #a9a8a6;
	border-radius: 3px;
	color: #3f4446;
	overflow: auto;
}

/*  LISTS
		========================================  */
/*  Top level lists  */
ol, ul {
	margin: 0 0 2em 1.2em;
}
ol {
	list-style-type: decimal;
}
ul {
	list-style: disc;
}
li {
	margin-bottom: .618em;
}

/*  Nested lists  */
li ol, li ul {
	margin: .618em 0 0 1.618em;
}
li ol {
	list-style: lower-roman;
}
li ul {
	list-style: circle;
}

/*  LINKS & NAVIGATION
		========================================  */
a {
	text-decoration: none;
	color: #ea4b35;
	-webkit-transition: color .12s ease-in-out;
	-moz-transition: color .12s ease-in-out;
	-ms-transition: color .12s ease-in-out;
	-o-transition: color .12s ease-in-out;
	transition: color .12s ease-in-out;
}
a:hover {
	color: #c63a27;
}

/*  Code snippets that link to their docs  */
a > code {
	color: #ea4b35;
	-webkit-transition: border-color .12s ease-in-out;
	-moz-transition: border-color .12s ease-in-out;
	-ms-transition: border-color .12s ease-in-out;
	-o-transition: border-color .12s ease-in-out;
	transition: border-color .12s ease-in-out;
}
a > code:hover {
	cursor: pointer;
	color: #c63a27;
	border-color: #c63a27;
}

/*  Horizontal nav styles  */
.horizontal li {
	float: left;
}
.left .horizontal li {
	margin-right: 1.618em;
}
.right .horizontal li {
	margin-left: 1.618em;
}

/*  styles for mainNav, subNav, and sideNav  */
nav ul, nav ol {
	list-style: none;
	margin-left: 0;
}

/*  Nav link colors are different than inline links */
nav a, header a {
	font-family: 'Varela Round', sans-serif;
	color: #3f4446;
}
nav a:hover, header a:hover {
	color: #ea4b35;
}

/*  TABLES
		========================================  */
table {
	border-collapse:collapse;
}
table, th, td {
	border: 1px solid #a9a8a6;
}
th, td {
	padding: .618em 1em;
	text-align: left;
}
th {
	font-family: 'Varela Round', sans-serif;
	letter-spacing: .0618em;
	background-color: #f3f2ee;
}

/*  SITE HEADER
		========================================  */
#siteHeader {
	width: 100%;
	height: 120px;
	background: #f3f2ee;
}
#logo {
	height: 60px;
	width: 214px;
	margin: 30px 0;
}
#mainNav {
	float: right;
	height: 120px;
	line-height: 120px;
}
#mainNav ul {
	margin: 0;
}
#mainNav li {
	margin-left: 2em;
}

/*  Underline hover effect  */
#mainNav a:after {
	content: "";
	display: block;
	width: 0%;
	height: 3px;
	margin: -50px auto 0;
	background-color: #ea4b35;
	-webkit-transition: width .12s ease-in-out;
	-moz-transition: width .12s ease-in-out;
	-ms-transition: width .12s ease-in-out;
	-o-transition: width .12s ease-in-out;
	transition: width .12s ease-in-out;
}
#mainNav a:hover:after {
	width: 100%;
}

/*  SECTION HEADER & SUB NAVIGATION
		========================================  */
#sectionHeader {
	height: 120px;
	margin-bottom: 46px; /*  Keeps border below floated headline  */
	padding-top: 64px;
	border-bottom: 1px solid #a8a8a8;
}

/*  Float section headline and subNav on same line  */
#sectionHeader h1, #subNav {
	float: left;
}

/*  Breadcrumb navigation  */
#subNav {
	margin-left: .314em;
	padding-top: 22px; /* Align baseline w/ h1 */
	font-size: 16px;
}

/*  Add '/' before breadcrumb nav elements  */
#subNav li:before{
	content: "/";
	font-size: 14px;
	color: #a8a8a8;
	margin: 0 .618em 0 .9em;
}

/*  MAIN COLUMNS LAYOUT
		========================================  */
#main {
	padding-bottom: 60px;
	border-bottom: 1px solid #a8a8a8;
}
#main > h1:first-child {
	height: 120px;
	margin-bottom: 46px;
	padding-top: 64px;
	border-bottom: 1px solid #a8a8a8;
	color: #3f4446;
}
#content {
	float: left;
	width: 600px;
}
#sideNav {
	float: right;
	width: 280px;
	border: 1px solid #a9a8a6;
	border-radius: 3px;
}

/*  Clearfix for floated cols applied to parent  */
.group:after {
	content: "";
	display: table;
	clear: both;
}

/*  SIDE NAVIGATION
		========================================  */
#sideNav ul {
	margin: 0;
	font-size: .9em;
	color: #6c6a65;
}
#sideNav li {
	margin-bottom: 0; /*  Cancel out default li style  */
	background: #f3f2ee;
	border-bottom: 1px solid #a9a8a6;
	line-height: 36px;
	position: relative;
	cursor: pointer;
	border-left: 0 solid #ea4b35;
	-webkit-transition: all .12s ease-in-out;
	-moz-transition: all .12s ease-in-out;
	-ms-transition: all .12s ease-in-out;
	-o-transition: all .12s ease-in-out;
	transition: all .12s ease-in-out;
}
#sideNav li.parent:before {
	opacity: 0;
	position: absolute;
	width: 7px;
	height: 13px;
	top: 11px;
	left: 12px;
	content: "";
	display: block;
	background: url(../img/arrow.png);
	-webkit-transition: all .12s ease-in-out;
	-moz-transition: all .12s ease-in-out;
	-ms-transition: all .12s ease-in-out;
	-o-transition: all .12s ease-in-out;
	transition: all .12s ease-in-out;
}
#sideNav li.parent:hover:before {
	opacity: 1;
}
#sideNav li.parent.active:before {
	opacity: 1;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
#sideNav li:hover, #sideNav li.active {
	background: #fff;
	border-left: 6px solid #ea4b35;
}
#sideNav li:last-child {
	border-bottom: none;
}
#sideNav li a {
	display: block;
	width: 100%;
	height: 100%;
	padding-left: 1em;
	-webkit-transition: all .12s ease-in-out;
	-moz-transition: all .12s ease-in-out;
	-ms-transition: all .12s ease-in-out;
	-o-transition: all .12s ease-in-out;
	transition: all .12s ease-in-out;
}
#sideNav li:hover > a, #sideNav li.parent.active > a {
	padding-left: 2em;
}
#sideNav li a:hover {
	color: #ea4b35;
}
#sideNav li.parent > a {
	display: inline-block;
	width: auto;
	height: auto;
}
#sideNav li ul {
	border-top: 1px solid #a9a8a6;
	background: #f9f9f7;
	position: relative;
	width: 278px;
}
#sideNav li.active ul, #sideNav li:hover ul {
	left: -6px;
}
#sideNav li ul li {
	background-color: #f9f9f7;
}
#sideNav li ul li:last-child {
	border-bottom: none;
}
#sideNav li ul li a {
	color: #3f4446;
	padding-left: 2.8em;
}
#sideNav li ul li:hover > a, #sideNav li ul li.active > a {
	padding-left: 3.2em;
}

/*  FOOTER
		========================================  */
footer {
	padding: 40px 0 100px;
	font-size: .9em;
}

#onsip {
	display: block;
	width: 151px;
	height: 49px;
	overflow: hidden;
	margin: 0 auto -36px; /*  center & bring nav lists up  */
	background-image: url(../img/onsip-logo-2.png);
	background-position: top center;
}

#onsip:hover {
	background-position: bottom center;
}

/*
	Homepage
*/
.home-feature {
	padding: 50px 0 50px 0;
}
.feature {
	width: 370px;
	float: left;
}
.home-feature pre {
	width: 535px;
	height: 255px;
	margin: 0;
	float: right;
	font-size: 1em;
}
.feature h1 {
	font-size: 36px;
	line-height: 54px;
	color: #ea4b35;
	text-transform: uppercase;
	margin-bottom: 20px;
}


.full-width-divider {
	background-color: #f3f2ee;
}
.highlights {
	list-style-type: none;
	padding: 0;
}
.highlights li {
	float: left;
	margin: 0;
	width: 33%;
	text-align: center;
	padding: 60px 60px 40px 60px;
}
.highlights h2 {
	font-size: 28px;
	line-height: 1;
	color: #ea4b35;
	text-transform: uppercase;
}
.highlights p.subpara {
	font-size: 17px;
	line-height: 20px;
	color: #3f4445;
	font-family: 'Varela Round', sans-serif;
}
.highlight-icon-wrapper {
	width: 180px;
	height: 180px;
	margin: 0 auto;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 6px solid #c0beb6;
	background-color: #fff;
	margin-bottom: 45px;
	overflow: hidden;
	-webkit-transition: all .12s ease-in-out;
	-moz-transition: all .12s ease-in-out;
	-ms-transition: all .12s ease-in-out;
	-o-transition: all .12s ease-in-out;
	transition: all .12s ease-in-out;
}
.highlights li:hover .highlight-icon-wrapper {
	width: 190px;
	height: 190px;
	margin-top: -5px;
	margin-bottom: 40px;
	border: 6px solid #ea4b35;
}
.highlight-icon {
	height: 100%;
}
.icon-arrow {
	background: url(../img/icon-arrow.png) no-repeat center center;
}
.icon-books {
	background: url(../img/icon-books.png) no-repeat center center;
}
.icon-chat {
	background: url(../img/icon-chat.png) no-repeat center center;
}
.highlights li:hover .icon-arrow {
	/*background: url(../img/icon-arrow-hover.png) no-repeat center center;*/
}
.highlights li:hover .icon-books {
	/*background: url(../img/icon-books-hover.png) no-repeat center center;*/
}
.highlights li:hover .icon-chat {
	/*background: url(../img/icon-chat-hover.png) no-repeat center center;*/
}
.highlight-icon .hoverstate {
	width: 100%;
	height: 100%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	padding-top: 45px;
	opacity: 0;
	background-color: rgba(255,255,255,0.84);
	-webkit-transition: opacity .12s ease-in-out;
	-moz-transition: opacity .12s ease-in-out;
	-ms-transition: opacity .12s ease-in-out;
	-o-transition: opacity .12s ease-in-out;
	transition: opacity .12s ease-in-out;
}
.highlights li:hover .hoverstate {
	opacity: 1;
}
.highlight-icon a {
	color: #3f4445;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 1;
	font-family: 'Varela Round', sans-serif;
}
.highlight-icon a:hover {
	color: #ea4b35;
}
.highlight-icon hr {
	border: 2px solid #858277;
	width: 46px;
	margin: 20px auto;
}
