<div id="js-sidebar" class="sidebar-shell">
  <div class="js-toggle-list sidebar-module expandable">
    <ul>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn"></a><a href="/api/">Overview</a></h3>
        <ul class="js-guides">
          <li><a href="/api/#features">Features</a></li>
          <li><a href="/api/#sip-standards">SIP Standards</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn"></a><a href="/api/devel/">devel</a></h3>
        </ul>
      </li>
    </ul>
  </div> <!-- /sidebar-module -->
</div><!-- /sidebar-shell -->
