<nav id="sideNav">
  <ul>
    <li class="parent">
      <a class="parent" href="/api/devel">Overview</a>
      <ul>
        <li><a href="/api/devel/#features">Features</a></li>
        <li><a href="/api/devel/#sip-standards">SIP Standards</a></li>
      </ul>
    </li>
    <li class="parent">
      <a class="parent" href="/api/devel/ua/">SIP.UA</a>
      <ul>
        <li><a href="/api/devel/ua/#construction">Construction</a></li>
        <li><a href="/api/devel/ua/#instance-attributes">Instance Attributes</a></li>
        <li><a href="/api/devel/ua/#instance-methods">Instance Methods</a></li>
        <li><a href="/api/devel/ua/#events">Events</a></li>
      </ul>
    </li>
    <li class="parent">
      <a class="parent" href="/api/devel/context/">Contexts (Client/Server)</a>
      <ul>
        <li><a href="/api/devel/context/client/">SIP.ClientContext</a></li>
        <li><a href="/api/devel/context/server/">SIP.ServerContext</a></li>
      </ul>
    </li>
    <li class="parent">
      <a class="parent" href="/api/devel/session/">SIP.Session</a>
      <ul>
        <li><a href="/api/devel/session/#construction">Instantiation</a></li>
        <li><a href="/api/devel/session/#instance-attributes">Instance Attributes</a></li>
        <li><a href="/api/devel/session/#instance-methods">Instance Methods</a></li>
        <li><a href="/api/devel/session/#events">Events</a></li>
      </ul>
    </li>
    <li class="parent">
      <a class="parent" href="/api/devel/message/">SIP.Message</a>
      <ul>
        <li><a href="/api/devel/message/#instance-attributes">Instance Attributes</a></li>
        <li><a href="/api/devel/message/#instance-methods">Instance Methods</a></li>
        <li><a href="/api/devel/message/#events">Events</a></li>
      </ul>
    </li>
    <li class="parent">
      <a class="parent" href="/api/devel/uri/">SIP.URI</a>
      <ul>
        <li><a href="/api/devel/uri/#instantiation">Instantiation</a></li>
        <li><a href="/api/devel/uri/#instance-methods">Instance Methods</a></li>
        <li><a href="/api/devel/uri/#events">Events</a></li>
      </ul>
    </li>
    <li class="parent">
      <a class="parent" href="/api/devel/eventEmitter/">SIP.EventEmitter</a>
      <ul>
        <li><a href="/api/devel/eventEmitter/#construction">Construction</a></li>
        <li><a href="/api/devel/eventEmitter/#instance-methods">Instance Methods</a></li>
      </ul>
    </li>
    <li class="parent">
      <a class="parent last" href="/api/devel/ua_configuration_parameters/">UA Configuration Parameters</a>
      <ul>
        <li><a href="/api/devel/ua_configuration_parameters/#mandatory-parameters">Mandatory Parameters</a></li>
        <li><a href="/api/devel/ua_configuration_parameters/#optional-parameters" class="last">Optional Parameters</a></li>
      </ul>
    </li>
  </ul>
</nav>
