<nav id="sideNav">
  <ul>
    <li class="parent">
      <a class="parent" href="/api/0.5.0">Overview</a>
      <ul>
        <li><a href="/api/0.5.0/#features">Features</a></li>
        <li><a href="/api/0.5.0/#sip-standards">SIP Standards</a></li>
      </ul>
    </li>
    <li class="parent">
      <a class="parent" href="/api/0.5.0/ua/">SIP.UA</a>
      <ul>
        <li><a href="/api/0.5.0/ua/#construction">Construction</a></li>
        <li><a href="/api/0.5.0/ua/#instance-methods">Instance Methods</a></li>
        <li><a href="/api/0.5.0/ua/#events">Events</a></li>
      </ul>
    </li>
    <li class="parent">
      <a class="parent" href="/api/0.5.0/context/">Contexts (Client/Server)</a>
      <ul>
        <li><a href="/api/0.5.0/context/client/">SIP.ClientContext</a></li>
        <li><a href="/api/0.5.0/context/server/">SIP.ServerContext</a></li>
      </ul>
    </li>
    <li class="parent">
      <a class="parent" href="/api/0.5.0/session/">SIP.Session</a>
      <ul>
        <li><a href="/api/0.5.0/session/#construction">Instantiation</a></li>
        <li><a href="/api/0.5.0/session/#instance-attributes">Instance Attributes</a></li>
        <li><a href="/api/0.5.0/session/#instance-methods">Instance Methods</a></li>
        <li><a href="/api/0.5.0/session/#events">Events</a></li>
      </ul>
    </li>
    <li class="parent">
      <a class="parent" href="/api/0.5.0/message/">SIP.Message</a>
      <ul>
        <li><a href="/api/0.5.0/message/">Sip.Message</a></li>
        <li><a href="/api/0.5.0/incomingMessage/">Incoming Message Data Structure</a></li>
      </ul>
    </li>
    <li class="parent">
      <a class="parent" href="/api/0.5.0/uri/">SIP.URI</a>
      <ul>
        <li><a href="/api/0.5.0/uri/#construction">Construction</a></li>
        <li><a href="/api/0.5.0/uri/#instance-methods">Instance Methods</a></li>
        <li><a href="/api/0.5.0/uri/#static-methods">Static Methods</a></li>
      </ul>
    </li>
    <li class="parent">
      <a class="parent" href="/api/0.5.0/eventEmitter/">SIP.EventEmitter</a>
      <ul>
        <li><a href="/api/0.5.0/eventEmitter/#construction">Construction</a></li>
        <li><a href="/api/0.5.0/eventEmitter/#instance-methods">Instance Methods</a></li>
      </ul>
    </li>
    <li class="parent">
      <a class="parent last" href="/api/0.5.0/ua_configuration_parameters/">UA Configuration Parameters</a>
      <ul>
        <li><a href="/api/0.5.0/ua_configuration_parameters/#mandatory-parameters">Mandatory Parameters</a></li>
        <li><a href="/api/0.5.0/ua_configuration_parameters/#optional-parameters" class="last">Optional Parameters</a></li>
      </ul>
    </li>
  </ul>
</nav>
