<div id="js-sidebar" class="sidebar-shell">
  <div class="js-toggle-list sidebar-module expandable">
    <ul>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn"></a><a href="/api/devel">Overview</a></h3>
        <ul class="js-guides">
          <li><a href="/api/devel/#features">Features</a></li>
          <li><a href="/api/devel/#sip-standards">SIP Standards</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn"></a><a href="/api/devel/ua/">SIP.UA</a></h3>
        <ul class="js-guides">
          <li><a href="/api/devel/ua/#construction">Construction</a></li>
          <li><a href="/api/devel/ua/#generic-methods">Generic Methods</a></li>
          <li><a href="/api/devel/ua/#request-methods">Request Methods</a></li>
          <li><a href="/api/devel/ua/#events">Events</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn"></a><a href="/api/devel/context/">Contexts</a></h3>
        <ul class="js-guides">
          <li><a href="/api/devel/context/client/">SIP.ClientContext</a></li>
          <li><a href="/api/devel/context/server/">SIP.ServerContext</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn"></a><a href="/api/devel/invite/">SIP.InviteContext</a></h3>
        <ul class="js-guides">
          <li><a href="/api/devel/invite/#instantiation">Instantiation</a></li>
          <li><a href="/api/devel/invite/#instance-methods">Instance Methods</a></li>
          <li><a href="/api/devel/invite/#events">Events</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn"></a><a href="/api/devel/message/">SIP.MessageContext</a></h3>
        <ul class="js-guides">
          <li><a href="/api/devel/message/#instantiation">Instantiation</a></li>
          <li><a href="/api/devel/message/#instance-methods">Instance Methods</a></li>
          <li><a href="/api/devel/message/#events">Events</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn"></a><a href="/api/devel/uri/">SIP.URI</a></h3>
        <ul class="js-guides">
          <li><a href="/api/devel/uri/#instantiation">Instantiation</a></li>
          <li><a href="/api/devel/uri/#instance-methods">Instance Methods</a></li>
          <li><a href="/api/devel/uri/#events">Events</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn"></a><a href="/api/devel/eventEmitter/">SIP.EventEmitter</a></h3>
        <ul class="js-guides">
          <li><a href="/api/devel/eventEmitter/#construction">Construction</a></li>
          <li><a href="/api/devel/eventEmitter/#public-methods">Public Methods</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn"></a><a href="/api/devel/ua_configuration_parameters/">UA Configuration Parameters</a></h3>
        <ul class="js-guides">
          <li><a href="/api/devel/ua_configuration_parameters/#mandatory-parameters">Mandatory Parameters</a></li>
          <li><a href="/api/devel/ua_configuration_parameters/#optional-parameters">Optional Parameters</a></li>
        </ul>
      </li>
    </ul>
  </div> <!-- /sidebar-module -->
</div><!-- /sidebar-shell -->
