<div id="footer" >
  <div class="lower_footer">
    <ul class="footer-cell">
      <li><a href="http://help.onsip.com/terms-of-service/">Terms</a></li>
      <li><a href="http://help.onsip.com/privacy-policy/">Privacy</a></li>
      <li><a href="http://help.onsip.com/security/">Security</a></li>
      <li><a href="https://onsip.com/contact">Contact</a></li>				
    </ul>

    <span class="footer-cell">
      <a href="https://onsip.com" class="mega-icon mega-icon-invertocat"></a>
    </span>

    <ul class="footer-cell">
      <li><a href="https://status.onsip.com/">Status</a></li>
      <li><a href="http://training.onsip.com/">Training</a></li>
      <li><a href="http://shop.onsip.com/">Shop</a></li>
      <li><a href="https://onsip.com/blog">Blog</a></li>
      <li><a href="https://onsip.com/about">About</a></li>
    </ul>
  </div>
  
  <div class="wrapper">
    <p>Design &copy; <span class="js-year">2013</span> OnSIP, Inc. All rights reserved. Except where otherwise noted, content on this site is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons CC-BY license</a>.</p>
  </div>

</div><!-- /#footer -->

<script src="/shared/js/retina.js" type="text/javascript"></script>
