<footer class="light-gray">
  <div class="wrapper">
    <!-- TODO [dylan] The "made by" part should also highlight -->
    <a href="https://www.onsip.com/webrtc-sip-network" id="onsip"></a>
    <nav class="left">
      <ul class="horizontal">
        <li><a href="https://groups.google.com/forum/#!forum/sip_js" target="_blank">Mailing List</a></li>
        <li><a href="https://github.com/onsip/sip.js/issues" target="_blank">Report Issues</a></li>
        <li><a href="/license/">License</a></li>
      </ul>
    </nav>
    <nav class="right">
      <ul class="horizontal">
        <li><a href="http://onsip.com/blog" target="_blank">Blog</a></li>
        <li><a href="/aboutus/">About</a></li>
        <li><a href="/faq/">FAQ</a></li>
      </ul>
    </nav>
    <div class="clearfix"></div>
  </div>
</footer>
<script src="/shared/js/retina.js" type="text/javascript"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1008379-16', 'sipjs.com');
  ga('send', 'pageview');
</script>
<script src="./feature_selector.js" type="text/javascript"></script>
