<div id="footer" >
  <div class="lower_footer">
    <ul class="footer-cell">
      <li><a href="https://groups.google.com/forum/#!forum/sip_js">Mailing List</a></li>				
      <li><a href="https://github.com/onsip/sip.js/issues">Report Issues</a></li>		
      <li><a href="/license/">License</a></li>
    </ul>

    <span class="footer-cell">
      <a href="https://www.onsip.com" class="mega-icon mega-icon-invertocat"></a>
    </span>

    <ul class="footer-cell">
      <li><a href="https://onsip.com/blog">Blog</a></li>
      <li><a href="/aboutus/">About</a></li>
      <li><a href="/faq/">FAQ</a></li>
    </ul>
  </div>
  
  <div class="wrapper">
  </div>

</div><!-- /#footer -->

<script src="/shared/js/retina.js" type="text/javascript"></script>
