<div id="header-wrapper">
  <div id="header">
    <div>
      <a class="logo" href="/">SIP.js</a>
      <ul class="nav">
        <li><a href="/sip-0.5.0-devel.min.js" class="nav-download" download="sip-0.5.0-devel.min.js">Download</a></li>
        <li><a href="https://github.com/onsip/sip.js">Github</a></li>
        <li><a href="/api/" class="nav-api">API</a></li>
        <li><a href="/guides/" class="nav-guides">Guides</a></li>
        <li><a href="/aboutus/" class="nav-aboutus">About Us</a></li>
        <li><a href="https://groups.google.com/forum/#!forum/sip_js">Support</a></li>
      </ul>
    </div>
  </div><!-- #header -->
</div><!-- #header-wrapper -->
