<header id="siteHeader">
  <div class="wrapper">
    <a href="/"><img id="logo" src="/shared/img/logo.png" alt="sip.js"></a>
    <nav id="mainNav">
      <ul class="horizontal">
        <li><a href="/download/">Download</a></li>
        <li><a href="/api/">API</a></li>
        <li><a href="/guides/">Guides</a></li>
        <li><a href="https://github.com/onsip/sip.js" target="_blank">Github</a></li>
        <li><a href="/aboutus/" class="nav-aboutus">About Us</a></li>
        <li><a href="https://groups.google.com/forum/#!forum/sip_js" target="_blank">Support</a></li>
      <ul>
    </nav>
  </div>
</header>
