<!-- We use this file only for the home page -->
<%= render 'head' %>

<body class="overview">
	<%= render 'header' %>

	<%= yield %>

	<%= render 'footer' %>

    <%= render 'success-popup' %>
    <script src="/download/sip-0.6.2.js" type="text/javascript"></script>
    <script src="/homepage-demo/feature_selector.js" type="text/javascript"></script>
    <script src="/homepage-demo/file_input_hack.js" type="text/javascript"></script>
    <script src="/homepage-demo/sipjs_demos.js" type="text/javascript"></script>
</body>
</html>
