<div id="js-sidebar" class="sidebar-shell">
  <div class="js-toggle-list sidebar-module expandable">
    <ul>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn"></a><a href="/SIPjs/">Overview</a></h3>
        <ul class="js-guides">
          <li><a href="/SIPjs/#features">Features</a></li>
          <li><a href="/SIPjs/#sip-standards">SIP Standards</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn"></a><a href="/SIPjs/ua/">SIP.UA</a></h3>
        <ul class="js-guides">
          <li><a href="/SIPjs/ua/#instantiation">Instantiation</a></li>
          <li><a href="/SIPjs/ua/#instance-methods">Instance Methods</a></li>
          <li><a href="/SIPjs/ua/#events">Events</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn"></a><a href="/SIPjs/invitecontext/">SIP.InviteContext</a></h3>
        <ul class="js-guides">
          <li><a href="/SIPjs/session/#instantiation">Instantiation</a></li>
          <li><a href="/SIPjs/session/#instance-methods">Instance Methods</a></li>
          <li><a href="/SIPjs/session/#events">Events</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn"></a><a href="/SIPjs/messagecontext/">SIP.MessageContext</a></h3>
        <ul class="js-guides">
          <li><a href="/SIPjs/message/#instantiation">Instantiation</a></li>
          <li><a href="/SIPjs/message/#instance-methods">Instance Methods</a></li>
          <li><a href="/SIPjs/message/#events">Events</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn"></a><a href="/SIPjs/uri/">SIP.URI</a></h3>
        <ul class="js-guides">
          <li><a href="/SIPjs/uri/#instantiation">Instantiation</a></li>
          <li><a href="/SIPjs/uri/#instance-methods">Instance Methods</a></li>
          <li><a href="/SIPjs/uri/#events">Events</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn"></a><a href="/SIPjs/event/">SIP.Event</a></h3>
        <ul class="js-guides">
          <li><a href="/SIPjs/event/#instantiation">Instantiation</a></li>
          <li><a href="/SIPjs/event/#instance-methods">Instance Methods</a></li>
          <li><a href="/SIPjs/event/#events">Events</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn"></a><a href="/SIPjs/ua_configuration_parameters/">UA Configuration Parameters</a></h3>
        <ul class="js-guides">
          <li><a href="/SIPjs/ua_configuration_parameters/#mandatory">Mandatory Parameters</a></li>
          <li><a href="/SIPjs/ua_configuration_parameters/#optional">Optional Parameters</a></li>
        </ul>
      </li>
    </ul>
  </div> <!-- /sidebar-module -->
</div><!-- /sidebar-shell -->
