/**
 * BUILDING BLOCKS
 **/

/* Headers */
.all-caps {
    text-transform: uppercase;
}

/* Buttons */
button {
    -webkit-appearance: none;
    font-size: 1em;
    line-height: 1em;

    border: none;
    border-radius: 0.25em;
    background: #ea4b35;

    color: white;
    text-transform: uppercase;

    cursor: pointer;

    /* button[type="submit"] */
    display: block;
    float: right;
    clear: both;
    margin: 1em 0;
    padding: 1em 3em;
}

button:disabled {
    cursor: default;
    background: #bebdb4;
}

button:not(:disabled):hover,
button:not(:disabled):focus,
button:not(:disabled):active {
    background: #c63a27;
}

button[type="button"] {
    display: inline-block;
    float: none;
    clear: none;

    margin: 0 0 0 1em;
    padding: 1em;
    vertical-align: middle;
}

/* Inputs */

textarea {
    font-size: 1em;

    padding: 0.5em;

    box-sizing: border-box;
    border: 0.25em solid rgb(190, 189, 180);
    border-radius: 0.25em;

    resize: none;
}

/**
 * LAYOUT
 **/
#phone, #message, #data {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;

    width: 50%;
    margin-bottom: 3em;
}

#phone {
    float: left;
    padding-right: 15%; /* staccato */
}

#message {
    float: right;
}

#data {
    float: right;
}

#note { /* banner */
    display: block;
    clear: both;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;

    margin: 3em 0;
    padding: 3em 0;
    border-top: 1px solid #a7a7a7;
    border-bottom: 1px solid #a7a7a7;
    overflow: auto;
}

#note > p { /* major */
    display: inline-block;
    width: 60%;
}

#note #signup {
    /* minor */
    display: block;
    float: right;

    /* a.button */
    padding: 1em 2em;
    background: #ea4b35;
    color: white;
    border-radius: 0.25em;
    text-align: center;
}

#note #signup:hover,
#note #signup:focus,
#note #signup:active {
    background: #c63a27;
}

#signup p {
    font-size: 0.8em;
    line-height: 1em;
    margin: 0;
}

#signup p:first-child {
    font-size: 1.5em;
    margin-bottom: 0.33em;
}



/**
 * Custom
 **/

/* Voice/Video */
#phone video {
    width: 100%;
}

#phone p {
    display: inline-block;
    line-height: 3em;
    text-transform: uppercase;
}

#phone button {
    float: right;
}

/* Message */
#message p {
    display: inline-block;
    color: #ea4b35;
    width: 20%;
}

#message #incomingMessage,
#message #incomingmessage,
textarea {
    width: 80%;
    color: inherit;
}

textarea {
    vertical-align: top;
}


/* Data */
#data p {
    display: inline-block;
    color: #ea4b35;
    width: 20%;
}

#data #incomingdata {
    width: 80%;
    color: inherit;
}

#data #sendinstructions {
    width: 80%;
    color: inherit;
}

/* Code */
#codebox ul {
    list-style:none;
    margin:0;
    float:left;
}

#codebox ul li {
    float: left;
    border-bottom: 40px solid #bebdb4;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 165px;
}

#codebox ul li div {
    display: block;
    border-bottom: 36px solid white;
    border-left: 18px solid transparent;
    border-right: 17px solid transparent;
    height: 0;
    width: 158px;
    float: left;
    margin-left: -17px;
    margin-top: 3px;
    text-align: center;
}

#codebox ul li div.active {
    border-bottom: 35px solid #bebdb4;
}

#codebox ul li div a {
    display:block;
    margin-top: 6px;
    text-transform:uppercase;
    color: #bebdb4;
}

#codebox ul li div a:hover {
    cursor: pointer;
}

#codebox ul li div.active a {
    color: white;
}

#codebox div[data-tab] {
    display:none;
    width: 100%;
    height: 300px;
    border: 2px solid #bebdb4;
    float:left;
    margin-top: -10px;
    overflow-y: scroll;
    background: #f4f6f7;
    padding: 1em 2em 2em 2em;
}

#codebox .active[data-tab] {
    display: block;
}
/** Random **/
h1 {
    margin: 3em 0 0 0;
}

#subtitle {
    margin-bottom: 3em;
}

#incomingcall {
    position: absolute;
    top: 6em;
    left: 0;
    width: 60%;

    margin: 0 5%;
    padding: 1em 0;
    border: 0.25em solid #bebdb4;

    line-height: 1em;
    background: white;
    text-align: center;
}

#beforecall,
#incomingcall,
#duringcall {
    display: none;
}

#beforecall.show,
#incomingcall.show,
#duringcall.show {
    display: block;
}

#incomingcall button {
    float: none;
}

#note h2 {
    color: #ea4b35;
}

#local-uri, #remote-uri {
    color: #ea4b35;
}
